.animal-Frame{
    width: 200px;
    height: 200px;
    background: rgb(200, 224, 252);
    // vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    box-shadow: 0 4px 4px 0 #808080;
}
.animal-Img{
    width: 70%;
    height: 70%;
    // object-fit: cover;
    
}
img{
    display: inline;
}