*{
  box-sizing:border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
html{
  height: 100%;
}
body{
  height: 100%;
  margin:0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.gui-container{
  width: 100%;
  height: 100%;
  position: relative;
  
  background-color:#c4f1ff;
}
// .timeline-container {
//   width: 300px;
//   height: 100%;
//   position: absolute;

//   top: 0;
//   left: 20px;

// }
.timeline-Base {
  width: 300px;
  height: 100%;
  position: absolute;

  top: 0;
  left: 20px;

}
.login-Form-Base{
  display: flex;
  height: 50%;
  width: 500px;
  // align-items: center;
  // justify-content: center;
  position: absolute;
  bottom: 30%;
  left: 35%;
}

.post-Form-Base{
  display: flex;
  width: 500px;
  height: 80px;
  // align-items: center;
  // justify-content: center;
  position: absolute;
  bottom: 5%;
  left: 35%;
}

.navmenu{
  width: 100px;
  left: 50%;
  position: relative;
}
#root{
  height: 100%;
}