.avatar-Body{
    width: 500px;
    height: auto;
    // background: rgb(200, 224, 252);
    // vertical-align: middle;
    display: inline-block;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
}
.avatar-Body:hover{
    >.post-Base{
        transition: opacity 0.3s 0s ease-in;
        opacity: 1;
    }
}
.animal-Img{
    width: 70%;
    height: 70%;
    // object-fit: cover;
    
}
.post-Base{
    opacity: 0;
}
img{
    display: inline;
}
.animal-Base{
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

// .animal-Base:hover+.post-Base{
//     opacity: 1;
// }
