
ul{
    margin-block-start: 0;
    padding-inline-start: 0;
}


.postlists{
    height: 100%;

    text-align: center;

    overflow-y: scroll;
    border-radius:0 0 20px 20px;
}
$postheight:calc(919.59 - 200);
.postlists-Frame{
    //要調整
    height: 719.59px;
    
}